/**
 * Created by VishwasHK on 6/23/14.
 */
@font-face {
    font-family: caligraphy;
    src: url(font/CALLIGRA.TTF);
}
.customHeader{
    height: 40px;
    background:-webkit-linear-gradient(#0125DC, #2593F0);
    color: #ffffff !important;
    font-family:caligraphy;
    font-size: 19pt;
    text-align: center;
    line-height: 40px;
}
.customContent{
    background: -webkit-linear-gradient(#DCDDEF, #FAFAFA);
    min-height: 370px;
    padding-left: 5px ;
    padding-right: 5px ;
}
.customFooter{
    height: 34px;
    background: -webkit-linear-gradient(#0125DC, #2593F0);
    font-family:caligraphy;
    color: #ffffff !important;
    font-size: 15pt;
    text-align: center;
    line-height: 34px;
}
.noTextShadow{
    text-shadow: none;
}
.mainNavbar a.ui-btn-active{
    background:-webkit-linear-gradient(#0125DC, #2593F0);
}
/* carousel style */
.carouselItem{
    /*
    background: #3fbf79;
    */
    padding: 10px 0px;
    margin: 0px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
/* Index Page**/
#mainHeader{
    height: 50px !important;
    line-height: 50px !important;
}
#mainContent{
    min-height: 360px;
}
#mainFooter{
    min-height: 34px;
}

/* Login Page */
#login{
    margin-top: 20px;
    border: 1px solid #0125DC;
    border-radius: 10px;
    padding: 10px;
}
#logo{
    background: url("http://localhost:9080/Images/test.gif") no-repeat;
    background-position: 50% 50%;
    border: 2px dotted #2593F0;
    border-radius:10px ;
    height: 160px;
}

/* News Page */
#newsContent{
    padding: 0px 0px 20px 0px;
}
#Provider{
    width: 30%;
    height: 40px;
    background-size: 100% !important;
    display: inline-block;
    float: right;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#newsDetails{
    height: 40px;
    text-align: center;
    margin-top: 5px;
    background: whitesmoke;
    color: black;
    font-family: caligraphy;
    font-size: 9pt;
    font-style: italic;
    line-height: 34px;
    border-radius: 15px;
}

#description{
    display: inline-block;
    height: 40px;
    width: 70%;
    float: left;
    line-height: 40px;
}
#newsHeaderTitle{
    text-align: center;
    font-family: caligraphy;
    font-size: 14pt;
    /*border: 1px solid #DA01EF;*/
    background: -webkit-linear-gradient(#0125DC, #2593F0);
    color: wheat;
    margin-top: 5px;
    padding: 2px;
}

#newsList{
    margin-top: 10px;
    padding: 5px;
}
.newsItemTitle{
    font-family: calibri;
    margin-left: 15px;
    font-size: 10pt;
    background: lightskyblue;
    color: white;
    text-shadow: none;
    margin-top: 5px;
    border-radius: 5px;
    padding: 2px;
    width: 90%;
    white-space: normal;
    word-break: break-all;
}
#newsDiv a{
    padding: 0;
}
#newsDiv .ui-grid-b{
    width: 90%;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#newsDiv .ui-grid-b .ui-block-a{
    width: 15%;
    height: 40px;
}
#newsDiv .ui-grid-b .ui-block-a img{
    width: 80px;
    height: 80px;
    position: relative;
}
#newsDiv .ui-grid-b .ui-block-b {
    width: 60%;
    font-family: calibri;
    font-weight: normal;
    font-size: 12px;
}
#newsDiv .ui-grid-b .ui-block-c{
    width: 25%;
    font-family: calibri;
    font-size: 10px;
    float: right;
}
#newsDiv .ui-grid-b .ui-block-c .ui-grid-a .ui-block-a{
    float: left;
    width: 60%;
}
#newsDiv .ui-grid-b .ui-block-c .ui-grid-a .ui-block-b{
    float: right;
    width: 30%;
}
#newsDiv li a.ui-btn-icon-right{
    /*background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);*/
    background: floralwhite;
    color: #000;
    text-shadow: none;
    border-bottom: 1px solid transparent ;
}
#newsDiv li a.ui-btn-icon-right:after{
    width: 0;
}
#newsDiv li a.ui-btn-icon-right:hover{
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    color: #000;
    text-shadow: none;
    border-bottom: 1px solid #ffffff ;
}
#navigator{
    margin-top: 25px;

}
.imgBg{
    background-position: 50% 50%;
}
.details{
    word-wrap: normal;
    white-space: normal;
    padding: 1%;
    margin-left: 15%;
}

